/* --- EFEKTLER VE OVERLAYS --- */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.big-text {
    font-size: 42px;
    font-weight: bold;
    color: #00ff41;
    animation: popIn 0.5s;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sub-text {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.8;
}

.count-num {
    font-size: 100px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 20px #00ff41;
}